image: Visual Studio 2017
configuration: Release
platform: Any CPU
version: 0.0.{build}

install:
- dotnet tool install -g nbgv
- nbgv cloud --all-vars
- msbuild src/VsixTesting.Xunit /t:restore /v:m /nologo
- msbuild src/VsixTesting.Xunit /v:m /nologo
- msbuild /t:restore /v:m /nologo

build_script:
- msbuild /v:m /nologo

deploy:
  provider: NuGet
  server: https://www.myget.org/F/vsixtesting/api/v2/package
  api_key:
    secure: 7fpFGKl529yWoO7qD5t+quDen2GSeUfdsuGOYH3zMSI/nwDEY9bvyiOl/xOoaajX
  artifact: /.*\.nupkg/

artifacts:
- path: '**\TestResults.xml'
- path: '**\*.nupkg'

test_script:
- msbuild /t:test