name: CI

on: [push, pull_request]

jobs:
  build:
    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: ["windows-2016", "windows-2019", "windows-2022"]

    runs-on: ${{ matrix.os }}
    env:
      CONFIGURATION: Release

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: '0'

      - name: Add msbuild to PATH
        if: ${{ !endsWith(matrix.os, '2022') }}
        uses: microsoft/setup-msbuild@v1.0.3

      - name: Add msbuild to PATH - 2022
        if: ${{ endsWith(matrix.os, '2022') }}
        run: echo "C:/Program Files/Microsoft Visual Studio/2022/Preview/Msbuild/Current/Bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Set Version
        run: |
          mkdir artifacts
          dotnet tool install -g nbgv
          nbgv cloud --all-vars

      - name: Restore VsixTesting.Xunit
        run: msbuild src/VsixTesting.Xunit /v:m /nologo /t:restore

      - name: Build VsixTesting.Xunit
        run: msbuild src/VsixTesting.Xunit /v:m /nologo

      - name: Restore
        run: msbuild /v:m /nologo /t:restore

      - name: Build
        run: msbuild /v:m /nologo

      - name: Test
        run: msbuild /t:test

      - name: Upload nuget packages
        if: matrix.os == 'windows-2022'
        uses: actions/upload-artifact@v2
        with:
          name: VsixTesting
          path: |
            artifacts/*.nupkg

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: VsixTesting.TestResults.${{matrix.os}}
          path: |
            artifacts/*.TestResults.xml
